<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="mt-3 text-center">Nuestros difusores</h2>
      <p class="text-justify">{{config.diffuserText}}</p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <span *ngFor="let diffuser of diffusers">
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image card-img-top" src="{{url+'diffuser/getImage/'+ diffuser.image}}" alt="wave" />
      </div>
      <div class="content">
        <div class="card-title">
          <h2>{{diffuser.name}}</h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            {{diffuser.shortDescription}}
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a [routerLink]="['/difusor', diffuser._id]" class="btn btn-naran mt-3 ml-auto">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>

</div>
