<nav></nav>

<div class="blog-container-cover">
    <div class="container-info-cover">
        <h1>¡Bienvenidx a mi caos!</h1>
    </div>
</div>


<!--secionn full center-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 about">
            <h2 class="text-center title">Sobre mi</h2>
            Hola, soy Belinda! <br>
            <p class="text-justify about">
                {{about}}
                <br> {{config.educadora}}
                <br> {{config.tengo}}
            </p>
        </div>
    </div>
</div>
<br>
<img src="../../../assets/img/lineBreaker5.png" class="lineBreaker">
<br>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-12">
            <h2 class="text-center title">La huella de mi vida</h2>
            <p class="text-justify">
                {{config.reflexionesOne}} <br> <br> {{config.reflexionesTwo}} <br> <br> {{config.reflexionesThree}} <br> <br> {{config.reflexionesFour}} <br> <br> {{config.reflexionesFive}} <br> <br> {{config.reflexionesSix}} <br> <br>
                <a href="https://www.instagram.com/la_huella_de_mi_vida/" class="a" target="blank">{{config.reflexionesSeven}}</a>
            </p>
        </div>
    </div>
</div>


<app-foot></app-foot>
