<div class="row">
  <div class="col-md-12">
    <div class="firstParagraph">
      <h3 class="name">{{kit.name}}</h3>
      <p class="bestCustomers">{{kit.bestCustomers}}</p>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="">
        <img src="{{url+'kit/getImage/'+ kit.image}}" class="topImage">
      </div>
    </div>
</div>

<div class="col-md-12 col-xs-12">
  <div class="firstParagraph">
    <p class="utilities">{{kit.content}}</p>
    <button [routerLink]="['/contacto']" class="btn btn-naran">Si quieres apoderarte de este kit, clica aqui</button>
  </div>
</div>

