<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="mt-3 text-center">Los mejores kits para ti</h2>
      <p class="text-justify">{{config.kitText}}</p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <span *ngFor="let kit of kits">
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image card-img-top" src="{{url+'kit/getImage/'+ kit.image}}" alt="wave" />
      </div>
      <div class="content">
        <div class="card-title">
          <h2>{{kit.name}}</h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            {{kit.content}}
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a [routerLink]="['/kit', kit._id]" class="btn btn-naran mt-3 ml-auto">Saber mas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>

</div>
