<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="mt-3 text-center">Nuestros aceites</h2>
      <p class="text-justify">{{oilText}}</p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="checkbox">
        <h2 class="tipoDeAceite">Tipo de aceite</h2>

        <ul>
          <li>
            <input type="radio" name="name" id="one" checked value="simples" [(ngModel)]="typeOil" />
            <label for="one" class="options">Simples (proviene de una sola planta)</label>

            <div class="check"></div>
          </li>

          <li>
            <input type="radio" name="name" id="two" value="sinergias" [(ngModel)]="typeOil"/>
            <label for="two" class="options">Sinergias (combinaciones de varios aceites)</label>

            <div class="check"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>



  <span [ngSwitch]="typeOil">
    <span *ngSwitchCase="'sinergias'">
      <br>
      <br>
      <span *ngFor="let oil of sinergiaOil" class="cards">

        <div class="card">
          <div class="card__image-holder">
            <img class="card__image card-img-top" src="{{url+'oil/getImage/'+ oil.image}}" alt="wave" />
          </div>
          <div class="content">
            <div class="card-title">
              <h2>{{oil.name}}</h2>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                {{oil.realName}}
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a [routerLink]="['/aceite', oil._id]" class="btn btn-verdeFuerte mt-3 ml-auto">Saber más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </span>

    <span *ngSwitchCase="'simples'">
      <br>
      <br>
      <span *ngFor="let oil of simpleOil" class="cards">

        <div class="card">
          <div class="card__image-holder">
            <img class="card__image card-img-top" src="{{url+'oil/getImage/'+ oil.image}}" alt="wave" />
          </div>
          <div class="content">
            <div class="card-title">
              <h2>{{oil.name}}</h2>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                {{oil.realName}}
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a [routerLink]="['/aceite', oil._id]" class="btn btn-verdeFlojo mt-3 ml-auto d-block">Saber más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </span>
  </span>

</div>
